body {
    background-color: #222;
}

.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-between;
}

.course {
    border: solid 1px #444;
    background-color: #fff;
    padding: 3px;
    max-width: 300px;
}

.course img {
    cursor: pointer;
    width: 100%;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    width: 100%;
    background-color: #f3f3f3;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-container {
    margin: 2rem;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 6px;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width: 500px) {
    .courses {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    .courses {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1025px) and (max-width: 1200px) {
    .courses {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1201px) and (max-width: 1600px) {
    .courses {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media(min-width: 1601px) and (max-width: 3200px) {
    .courses {
        grid-template-columns: repeat(6, 1fr);
    }
}